body {
  margin: 0;
  width: 100%;
  text-size-adjust: auto;
  font-family: "Chivo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #474747;
}

code {
  font-family: "Chivo", sans-serif;
}

/**** BACKGROUND IMAGE ****/
.wrap {
  position: relative;
}

.wrap::before {
  content: " ";
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/background_img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.content {
  position: relative;
}

.popup_box {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}

.box {
  position: relative;
  width: 40%;
  min-height: 300px;
  background-color: white;
  opacity: 0.9;
  margin: 40px auto;
  padding: 5px 10px 20px;
  color: #e18b41;
}

.close_button {
  text-align: right;
  color: #f1b988;
  font-size: 20px;
  cursor: pointer;
}

.log_page {
  width: 70%;
  margin: auto;
  background: rgba(251, 251, 251, 0.829);
  border: 2px solid white;
  padding: 30px;
  border-radius: 18px;
}

.divider {
  width: 5px;
  height: auto;
  display: inline-block;
}

.log_button {
  all: unset;
  font-size: 20px;
}

.add_button {
  all: unset;
  padding-right: 90%;
  padding-top: 0;
  font-size: 22px;
}
